
<% @users.map do |user| %>
<!-- Content Row -->
<%= link_to user, class:"search-list-link" do %>

  <div class="row search-result-list">

    <!-- Profile Picture Column -->
    <div class="col-md-3">
      <!-- Profile Picture -->
      <% if user.image %>
        <%= image_tag user.image , class:"img-thumbnail"%>
      <% else %>
        <%= image_tag 'icon-profile.png' , class:"img-thumbnail"%>
      <% end %>
    </div>

    <!-- user information Column -->
    <div class="col-md-3">
      <ul class="profile-user">
        <li>
          <h4><%= user.name %></h4>
        </li>
        <li>
          <p><i class="fa fa-map-marker"></i><span class="location"><%= user.city %>, <%= user.state %></span><p>
        </li>
        <li>
          <p class="btn btn-default">Check 'em out</p>
        </li>
      </ul>
    </div>

    <%- # saves away the activities for the user once and reuse it below %>
    <% current_activities = user.activities.last(2).to_a %>

    <!-- Sports Column -->
    <div class="col-md-3">
      <h4 class="search-title">Sports</h4>
      <% current_activities.map do |activity| %>
        <p><i class="flaticon-<%= activity.sport.downcase %>"></i><%= activity.sport %></p>
      <% end %>
    </div>
    <!-- Skills Level Column -->
    <div class="col-md-3">
      <h4 class="search-title">Skill Level</h4>
      <% current_activities.map do |activity| %>
      <p><%= activity.skill_level %><p>
      <% end %>
    </div>
  </div>
<% end %>

<!-- /.row -->
<% end %>
