
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%= render 'navigation'%>

    <!-- Profile Header -->
    <header class="header">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="profile" class=" profile-info">
      <img src="http://cdn.photoaffections.com/images/icon-profile.png" alt="Profile Picture" class="img-thumbnail">

      <!-- Edit profile or ask to team up button -->
      <% if current_user == @user %>
        <%= link_to 'edit profile', edit_user_path(current_user), class:"btn btn-default-solid btn-lg" %>
      <% else %>
        <%= mail_to "hello@wannateamup.com", "Ask to Team Up!", class:"btn btn-default-solid btn-lg" %>
      <% end %>

      <!-- User information on profile -->
      <ul class="profile-user">
        <li>
          <%= @user.name %>
        </li>
        <li>
          <i class="fa fa-map-marker"></i><%= @user.address %>
        </li>
      </ul>
    </section>

    <!-- Content Row -->
    <div class="row content-section">

        <!-- Sports Column -->
        <div class="col-md-3 col-md-offset-2">
          <h3>Activities</h3>
          <% current_activities = @user.activities.to_a %>
          <% current_activities.map do |activity| %>
            <p><i class="fa fa-futbol-o"></i><%= activity.sport %></p>
          <% end %>
        </div>

        <!-- Skills Level Column -->
        <div class="col-md-2">
          <h3>Skill Level</h3>
          <% current_activities.map do |activity| %>
          <p><i class="fa fa-circle-o-notch"></i><%= activity.skill_level %></p>
          <% end %>
        </div>
        <div class="col-md-1">
          <p></p>
        </div>

        <!-- Availability Column -->
        <div class="col-md-4 availability">
            <h3>Availability</h3>
            <ul>
              <li>Monday</li>
              <li>Tuesday</li>
              <li>Wednesday</li>
              <li>Thursday</li>
              <li>Friday</li>
              <li>Saturday</li>
              <li>Sunday</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->


  <!-- Footer -->
  <footer>
    <div class="container text-center copyright">
      <p>Copyright &copy; Team UP 2015</p>
    </div>
  </footer>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/grayscale.js"></script>

</body>
